server {
   listen 80;
 
        root {{ path }}/{{ sym_user }}/public;
  
        server_name {{ host }};                                                                                                                        
                                                                                                                                                                                                
        access_log /var/log/nginx/{{ host }}.access.log;                                                                                                                      
        error_log /var/log/nginx/{{ host }}.error.log;                                                                                                                        
                                                                                                                                                                                                
                                                                                                                                                                                                
        location / {                                                                                                                                                                                 
            try_files $uri /index.php$is_args$args;
        }

        location = /favicon.ico {
            log_not_found off;
            access_log off;                                                                                                                                                                          
        }                                                                                                                                                                                            
                                                                                                                                                                                                
        location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {                                                                                                                                               
            expires max;                                                                                                                                                                             
            log_not_found off;
        }

        location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
        }

        location ~ ^/index\.php(/|$) {
            fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm-{{ sym_user }}.sock;
            fastcgi_split_path_info ^(.+\.php)(/.*)$;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
            fastcgi_param DOCUMENT_ROOT $realpath_root;
            internal;
        }

        location ~ \.php$ {
            return 404;
        }

        client_max_body_size 25M;

}
